* {
    box-sizing: border-box;
  }

.header
{
    padding: 10px;
    text-align: center;
    background:#a6b3ed;
    color: white;
}

banner
{
    width: 100%;
    float:left;
}

h1
{
    font-size: 20px;

}

.topnav
{
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a6b3ed;
}

.topnav li {float: left;}

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

.topnav li a:hover{
  background-color: white;
  color: black;
}

.active{
  background-color: #b9edd9;
  color:black;
}

.flex-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


body
{
    font-family: Tahoma, Verdana, sans-serif, fantasy;
    text-align: center;
    background: #ddd;
    margin:0;
}

.tb{
    height: 20%;
    width: 20%;
}

p{
  line-height: 1.8;
  max-width:90%;
  text-align: center;
  margin-left:5%;
}

.fi{
  max-width:30%
}

button{
  padding:2px;
  font-size:20px;
}

.fs{
  max-width:100%;
}

.test{
  width:500px;
}
