/* Reset some default styles */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
}

section h1 {
    padding: 30px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    color: #f5f5f5;
    margin-bottom: 0px;
}

header h1 {
    background-color: #333;
    color: #f5f5f5;
}

nav {
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    flex-wrap: wrap;
}

#skills {
    line-height: 2.5;
}

#skills li {
    margin-right: 10px;
    list-style: circle;
    text-align: left;
    text-indent: 30px;
}

#skills ul {
    margin-top: 0px;
}

nav ul {
    flex-grow: 1;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    display: inline-block;
    position: relative;
    color: #989898;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: #f5f4f4;
    transition: width 0.3s;
}

nav ul li a:hover {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover::after {
    width: 100%;
}

section {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.light {
    background-color: #f5f5f5;
    color: #333;
}

.light div p,
.light h1,
h1,
div h2,
div div p,
h1,
h2,
h3,
h4,
h5,
h6 {
    background-color: #f5f5f5;
    color: #333;
}

.dark {
    background-color: #6a6975;
    color: #f5f5f5;
}

.dark div div p,
div div h1,
div div div div,
h1 {
    background-color: #6a6975;
    color: #f5f5f5;
}

h6 {
    background-color: #6a6975;
    color: #f5f5f5;
}

section p {
    padding-bottom: 10px;
}

#about {
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
}

.about-content {
    display: flex;
    align-items: flex-start;
    gap: 0px;
    /* Adjust the gap between the text and image as needed */
}

.about-text {
    flex: 5 0;
    text-align: left;
    margin-right: 0px;
    padding-right: 0px;
}

.about-text h1 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
}

.about-image {
    flex: 4 0 0;
    margin-left: 0px;
    padding-top: 100px;
}

.about-image img {
    width: 50%;
    margin-left: 0px;
    /* Adjust the width of the image as needed */
    height: auto;
}



.project {
    background-color: #fff;
    margin-top: 20px 0;
    margin-bottom: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}


.project-name {
    color: #333;
    font-size: 28px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-name:hover {
    background-color: #87857b;
}

.project-name:hover .dropdown-arrow {
    transform: rotate(180deg);
}

.dropdown-arrow {
    transition: transform 0.8s ease;
    font-size: 24px;
}

.dropdown-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.dropdown-content.open {
    max-height: 1500px;
    /* Adjust to a sufficient height */
}

.iframe-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: #6a6975;
}

#unity-section {
    position: center;
    width: 100%;
    background-color: #6a6975;
}

#unity-iframe {
    position: center;
    width: 100%;

}

#unity {
    padding: 100px;
}



.project-description {
    padding-top: 0px;
    margin-top: 0px;
    color: #666;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}

a {
    color: #ffd700;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#contact {
    padding: 100px;
    padding-top: 10px;
}

.video-carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.video-frame {
    width: 560px;
    height: 315px;
    scroll-snap-align: start;
    margin-right: 10px;
    overflow: none;
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.prev-button,
.next-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
    background-color: #555;
}


.image-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #6a6975;
}

.carousel-container {
    width: 600px;
    height: 400px;
    padding: 0;
    margin: 0;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-bottom: 30px;
    background-color: #6a6975;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: gray;
    white-space: nowrap;
}

.carousel-nav-item {
    margin: 0 5px;
}

.carousel-nav-item img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.carousel-nav-item img:hover {
    transform: scale(1.2);
}
