/* Reset some default styles */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1 {
    font-size: 40px;
}

section h1 {
    padding: 30px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #dddce1;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    color: #ffffff;
    margin-bottom: 0;
}

header h1 {
    background-color: #333;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    flex-wrap: wrap;
}

#skills {
    line-height: 2.5;
}

#skills li {
    margin-right: 10px;
    list-style: circle;
    text-align: left;
    text-indent: 30px;
    list-style-position: outside;
}

#skills ul {
    margin-top: 0;
}

nav ul {
    flex-grow: 1;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 16px;
}

nav ul li a {
    display: inline-block;
    position: relative;
    color: #989898;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: #f5f4f4;
    transition: width 0.3s;
}

nav ul li a:hover {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover::after {
    width: 100%;
}

section {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 768px),
only screen and (max-device-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        order: 2;
        margin-top: 20px;
    }

    .about-image {
        order: 1;
        margin-bottom: 20px;
        align-self: center;
    }

    section {
        padding-left: 20px;
        padding-right: 20px;
    }
}

#about-header {
    padding-top: 120px;
    padding-bottom: 30px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.about-text {
    flex: 1;
    text-align: left;
    margin-right: 0;
    padding-right: 0;
}

.about-image {
    flex: 1;
    margin-left: 20px;
    padding-top: 20px;
    max-width: 300px;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.light {
    background-color: #dddce1;
    color: #333;
}

.dark {
    background-color: #6a6975;
    color: #ffffff;
}

.project {
    background-color: #fff;
    margin: 20px 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.project-name {
    color: #333;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-name:hover {
    background-color: #87857b;
}

.project-name:hover .dropdown-arrow {
    transform: rotate(180deg);
}

.dropdown-arrow {
    transition: transform 0.8s ease;
}

.dropdown-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.dropdown-content.open {
    max-height: 1500px;
}

.iframe-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #6a6975;
}

#unity-section {
    position: center;
    width: 100%;
    background-color: #6a6975;
}

#unity-iframe {
    position: center;
    width: 100%;
}

#unity {
    padding: 100px;
}

b {
    color: #3c394d;
}

.project-description {
    padding: 30px;
    margin-top: 0;
    color: #ffffff;
    background-color: #6a6975;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}

a {
    color: #ffd700;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.video-carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.video-frame {
    width: 560px;
    height: 315px;
    scroll-snap-align: start;
    margin-right: 10px;
    overflow: none;
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.prev-button,
.next-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
    background-color: #555;
}

.image-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #6a6975;
}

.carousel-container {
    position: relative;
    width: 600px;
    height: 400px;
    padding: 0;
    margin: 0;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-bottom: 30px;
    background-color: #6a6975;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: gray;
    white-space: nowrap;
}

.carousel-nav-item {
    margin: 0 5px;
}

.carousel-nav-item img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.carousel-nav-item img:hover {
    transform: scale(1.2);
}

#contact {
    padding-top: 10px;
}

.contact-card {
    border: #555 1px solid;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    width: 300px;
    height: 200px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(45deg, hsla(0, 100%, 96%, 0.404), #fff0e241, #fefed69d, #e4fbe491, #e5e5fd84, #eadaf784, #fbe6fb73, #f3d3d374);
    background-size: 400% 400%;
    box-shadow: #333 1px 1px 1px;
    transition: box-shadow 0.3s ease;
    z-index: 1;
}

.contact-card:hover {
    animation: pearlescent-animation 0.6s ease-out;
    box-shadow: #333 5px 5px 10px;
    transition: box-shadow 0.3s ease;
}

.contact-card p.transparent {
    background-color: transparent;
    padding: 10px;
}

.contact-card p.transparent a {
    background-color: transparent;
    color: rgb(68, 29, 243);
    padding: 10px;
}

@keyframes pearlescent-animation {
    0% {
        background-position: 20% 50%;
    }

    50% {
        background-position: 50% 30%;
    }

    100% {
        background-position: 20% 50%;
    }
}

.carousel {
    position: relative;
}

.carousel-container {
    width: 100%;
    height: 600px;
}

.carousel-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.left-arrow {
    left: 30px;
}

.right-arrow {
    right: 10px;
}
